.music-player{
	background-color: $background;
	padding: 1rem 3rem 2rem 2rem;
	border-radius: 20px;
	margin: 1rem;
}

.album_art {
	background-size: 130px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
	margin: 2rem 2rem 1.5rem 1rem;
	padding: 3rem;
	min-height: 50px;
	min-width: 50px;
}

.artist {
	font-family: Cartograph CF;
	font-style: italic;
	font-weight: bold;
	color: $foreground;
	font-size : 1.2em;
	padding-top: 30px;
	padding-left: 15px;
}
.song{
	font-family: Cartograph CF;
	font-style: italic;
	font-size: 1.15em;
	color: $foreground;
	margin-top: -5px;
	padding-left: 15px;
}
.btn_prev, .btn_play, .btn_next {
	font-family: JetBrainsMono Nerd Font;
}
.btn_prev {
	color: $foreground;
	font-size : 2.8em;
}
.btn_play {
	color: $foreground;
	font-size : 3.5em;
	font-weight : bold;
	padding-left: 10px;
}
.btn_next {
	color: $foreground;
	font-size : 2.8em;
}
.metric-player  scale trough highlight {
	all: unset;
	border-radius: 10px;
	background-color: $foreground;
}
  
.metric-player scale trough  {
	all: unset;
	background-color: $background;
	border:2px solid $foreground;
	border-radius: 50px;
  }
  
.metric-player scale trough  {
	min-width: 200px;
	min-height: 10px;
}