.weather{
	font-family: JetBrainsMono Nerd Font;
	background-color: $background;
	border-radius: 12px;
	padding: 2rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.day-month,
.weather-day{
	font-family: rubik, sans-serif;
	font-size: 1.8em;
	color: rgb(0, 0, 0);
	padding-right: 3rem;
	margin-right: 10px;
}
.weather-day {
	font-weight: bold;
}

.day-month {
	font-size: 5em;
	font-weight: bold;
}
.city,
.temp-region{
	font-family: Comic Mono;
	font-size: 1em;
	color: $foreground;
}
.city{
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	font-family: rubik, sans-serif;
	padding: 7px;
	padding-left: 20px;
}
.temp-region {
	font-size: 3em;
	padding-left: 50px;
	font-weight: bold;
}
.weather-icon{
	font-size: 4.2em;
}
.temperature{
	font-family: Iosevka Medium;
	font-size: 1em;
	color: $foreground
}
.weather-stat{
	font-family: rubik, sans-serif;
	font-style: italic;
	font-size: 1.3em;
	color: $foreground;
	padding-left: .5rem;
	padding-bottom: .5rem;
}

.weather-display {
	padding-bottom: 15px;
}

.box-date {
	padding-top: 15px;
}